<div class="container animated fadeIn mi-content top">
    <form ngNativeValidate #f="ngForm" (ngSubmit)="login( f )">
        <div class="w-25">
            <div class="form-group">
                <input type="text" ngModel name="email" required class="form-control" placeholder="Usuario o email">
            </div>
            <div class="form-group">
                <input type="password" ngModel name="password" required class="form-control" placeholder="password">
            </div>
            <!-- <div class="form-check ">
                <input class="form-check-input cursor" type="checkbox" ngModel name="recuerdame" id="gridCheck1">
                <label class="form-check-label cursor" for="gridCheck1">Recordarme</label>
            </div><br> -->
            <button type="submit" class="btn btn-success btn-block">
                  <i class="fas fa-spinner fa-spin" *ngIf="loading_icon"></i> 
                  <i class="fas fa-check" *ngIf="!loading_icon"></i> 
                  Ingresar</button>
        </div>
    </form>
</div>