<div class="mi-panel-lateral" [ngClass]="{'move': panelLateralEstado}">
    <div class="pt-3 text-center" class="title-panel-menu">
        <img src="assets/img/papaya_text.png" width="110" alt="">
    </div>
    <div class="text-center text-secondary font-weight-light">
        <h5>Marcelo Ramirez</h5>
        <span>Administrador - Moyobamba</span>
    </div>
    <hr class="line-menu-2">
    <br>
    <ul class="menu-panel-lateral text-secondary">
        <li *ngFor="let menu of _sidebar.menu; let i=index" data-toggle="collapse" class="collapsed" [attr.data-target]="'#list'+ i"><i [class]="menu.icono" aria-hidden="true"></i> {{ menu.titulo }}
            <ul class="sub-menu collapse" id="list{{i}}">
                <div *ngFor="let submenu of menu.submenu">
                    <li routerLinkActive="activado" [routerLink]="[submenu.url]">{{submenu.titulo}}</li>
                </div>
            </ul>
        </li>
        <!-- <li data-toggle="collapse" class="collapsed" data-target="#ventas"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Ventas</li>
        <ul class="sub-menu collapse" id="ventas">
            <li><a href="#">Venta</a></li>
            <li><a href="#">Proforma</a></li>
            <li><a href="#">Ofertas, descuentos promociones</a></li>
        </ul>
        <li data-toggle="collapse" class="collapsed" data-target="#caja"><i class="fa fa-usd" aria-hidden="true"></i> Caja</li>
        <ul class="sub-menu collapse" id="caja">
            <li><a href="#">Cierre de caja</a></li>
            <li><a href="#">Ingresos/egresos</a></li>
            <li><a href="#">Cuentas por cobrar</a></li>
            <li><a href="#">Cuentas por pagar</a></li>
            <li><a href="#">Reportes</a></li>
        </ul>
        <li data-toggle="collapse" class="collapsed" data-target="#reportes"><i class="fa fa-bar-chart" aria-hidden="true"></i> Reportes e Indicadores</li>
        <ul class="sub-menu collapse" id="reportes">
            <li><a href="#">Resumen de opertivo</a></li>
            <li><a href="#">Indicadores Basicos</a></li>
            <li><a href="#">Indicadores Avanzados</a></li>
        </ul>
        <li data-toggle="collapse" class="collapsed" data-target="#configuracion"><i class="fa fa-cogs" aria-hidden="true"></i> Configuracion del sistema</li>
        <ul class="sub-menu collapse" id="configuracion">
            <li><a href="#">Generales</a></li>
            <li><a href="#">Usuarios</a></li>
            <li><a href="#">Sucursales</a></li>
        </ul> -->
    </ul>
</div>